.main-playlist {
    width: 100%;
    border-radius: 12px;
    background-color: var(--color-dark-grey);
}

/* Main Playlist Section */

.main-playlist-main {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    height: 807px;
    overflow-y: scroll;
}

/* Main Playlist Header */

.main-playlist-header {
    height: 275px;
    display: flex;
    align-items: end;
    padding-bottom: 12px;
}

.main-playlist-image {
    width: 230px;
    height: 230px;
    bottom: 0;
    border-radius: 8px;
    overflow: hidden;
}

.main-playlist-info {
    display: flex;
    flex-direction: column;
    color: var(--color-white);
    padding-left: 16px
}

.main-playlist-info-type {
    font-family: var(--font-1);
    font-size: 14px;
}

.main-playlist-info-name {
    font-family: var(--font-4);
    font-size: 96px;
}

.main-playlist-info-detail {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.main-playlist-info-detail > div {
    margin-left: 2px;
    margin-right: 2px;
}

.main-playlist-info-profile {
    font-family: var(--font-4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-playlist-info-profile-image {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    margin-right: 4px;
}

.main-playlist-info-time {
    font-family: var(--font-1);
    color: var(--color-grey);
}

/* Main Playlist Body */

.main-playlist-body {
    display: flex;
    flex-direction: column;
}

/* Main Playlist Body Header */

.main-playlist-body-header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.main-playlist-body-header-left {
    display: flex;
    align-items: center;
}

.main-playlist-body-play-button {
    width: 56px;
    height: 56px;
    background-color: var(--color-bright-green);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 23px;
}

.main-playlist-body-dot-button > svg {
    margin-top: 4px;
    margin-left: 1px;
    width: 32px;
    height: 32px;
}

.main-playlist-body-dot-button:hover > svg {
    margin-left: 0px;
    width: 34px;
    height: 34px;
}

.main-playlist-body-dot-button path {
    fill: var(--color-grey);
}

.main-playlist-body-dot-button:hover path {
    fill: var(--color-white);
}

.main-playlist-body-header-right {
    display: flex;
    align-items: center;
    font-family: var(--font-1);
    font-size: 14px;
    color: var(--color-grey);
}

.main-playlist-body-header-right:hover {
    color: var(--color-white);
}

.main-playlist-body-header-right > svg {
    margin-left: 6px;
}

.main-playlist-body-header-right:hover path {
    fill: var(--color-white);
}

/* Main Playlist Body Songs */

.main-playlist-body-songs-header {
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: var(--column-widths);
    gap: 12px;
    font-family: var(--font-2);
    font-size: 14px;
    color: var(--color-grey);
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    fill: var(--color-grey);
}

.main-playlist-body-songs-header .clock-svg {
    padding-left: 8px;
}

.main-playlist-body-songs-items {
    display: flex;
    flex-direction: column;
}

.main-playlist-body-songs-item {
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: var(--column-widths);
    gap: 12px;
    font-family: var(--font-1);
    font-size: 14px;
    color: var(--color-grey);
}

.main-playlist-body-songs-item:hover {
    background-color: hsla(0,0%,100%,.05);
}

.main-playlist-body-songs-item div {
    height: 56px;
    display: flex;
    align-items: center;
}

.main-playlist-body-songs-item span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    color: var(--color-white);
}

.main-playlist-body-songs-item-image {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    margin-right: 12px;
}

.main-playlist-body-songs-item-detail {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}

.main-playlist-body-songs-item-detail * {
    width: 100%;
}

.main-playlist-body-songs-item-detail span:nth-child(1) {
    font-size: 16px;
}