.main-songs {
    width: 100%;
    border-radius: 10px;
    background-color: var(--color-dark-grey);
}

/* Main Songs Header */

.main-songs-header {
    height: 32px;
    display: flex;
    align-items: left;
    padding: 16px;
    position: absolute;
}

.main-songs-header > * {
    height: 32px;
}

/* Main Songs Main */

.main-songs-main {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    height: 672px;
    overflow-y: scroll;
}

/* Main Songs Items */

.main-songs-items {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 8px;
}

.main-songs-item {
    width: 100%;
    height: 48px;
    display: flex;
    font-size: 14px;
    font-family: var(--font-3);
    background-color: var(--color-highlight-grey);
    border-radius: 4px;
    overflow: hidden;
}

.main-songs-item-image {
    width: 48px;
    height: 48px;
    /* background-color: blue; */
}

.main-songs-item-detail {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

/* Main Songs Reccomendations */

.main-songs-recs {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 16px;
}

.main-songs-rec-section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.main-songs-rec-title {
    display: flex;
    align-items: start;
    padding-left: 8px;
    padding-bottom: 24px;
    font-family: var(--font-3);
    font-size: 24px;
}

.main-songs-rec-items {
    display: flex;
}

.main-songs-rec-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--rec-width);
}

.main-songs-rec-item-image {
    width: var(--image-width);
    height: var(--image-width);
    object-fit: cover;
    border-radius: 4px;
}

.main-songs-rec-item-detail {
    font-family: var(--font-1);
    font-size: 14px;
    color: var(--color-grey);
    width: var(--image-width);
    height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
