.topbar {
    height: 48px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spotify-logo-bounding-box {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spotify-icon {
    height: 32px;
    fill: white;
}

.search-bounding-box {
    width: 478px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.home-icon-bounding-box {
    border-radius: 100%;
    background-color: #1f1f1f;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-icon {
    padding: 20px;
}

.search-bar-bounding-box {
    border-radius: 500px;
    background-color: #1f1f1f;
    height: 48px;
    width: 474px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 8px;
}

.search-icon {
    padding-left: 12px;
}

.search-bar {
    width: 362px;
    height: 48px;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    background: transparent;
    /* background-color: red; */
    color: white;
}

.search-bar:focus {
    outline: none;
}

.browse-icon {
    padding-left: 12px;
    margin-right: 16px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #807c7c;
}

.setting-bounding-box {

}