.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "side main right";
    grid-template-rows: 48px;
    grid-template-columns: 420px auto 420px;
    gap: 10px;
    background-color: #000000;
    padding: 10px;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
}

.grid-container > div {
    text-align: center;
    font-size: 30px;
}

.grid-header {
    grid-area: header;
}

.grid-side {
    grid-area: side;
}
.grid-main {
    grid-area: main;
}
.grid-right {
    grid-area: right;
}