.bottombar {
    background-color: black;
    width: 100%;
    height: 72px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

/* Bottombar Song Details */

.bottombar-song {
    display: flex;
    width: 314px;
}

.bottombar-song-image {
    width: 56px;
    height: 56px;
    border-radius: 6px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 4px;
    margin-bottom: 8px;
}

.bottombar-song-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-1);
}

.bottombar-song-details-title {
    font-size: 14px;
    color: var(--color-white);
    padding-bottom: 2px;
}

.bottombar-song-details-author {
    font-size: 12px;
    color: var(--color-grey);
}

/* Bottombar Command Buttons */

.bottombar-controls {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bottombar-controls svg {
    fill: var(--color-grey);
    padding: 8px;
}

.bottombar-controls svg:hover {
    fill: var(--color-white);
    transform: scale(1.05);
}


.bottombar-controls .input-bar {
    appearance: none;
    border: 0;
    width: 8.7vw;
    max-width: 93px;
    background: linear-gradient(
        to right,
        var(--color-white) 0%,
        var(--color-white) var(--volume-bar-transform),
        hsla(0,0%,100%,.3) var(--volume-bar-transform),
        hsla(0,0%,100%,.3) 100%
    );
    height: 4px;
    border-radius: 10px;
}

.bottombar-controls .input-bar:hover {
    background: linear-gradient(
        to right,
        var(--color-dark-green) 0%,
        var(--color-dark-green) var(--volume-bar-transform),
        hsla(0,0%,100%,.3) var(--volume-bar-transform),
        hsla(0,0%,100%,.3) 100%
    );
}

.bottombar-controls .input-bar:hover::-webkit-slider-thumb {
    visibility: visible;
}

.bottombar-controls .input-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    visibility: hidden;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: var(--color-white);
    cursor: pointer;
}

/* Bottombar Song Controls */

.bottombar-audio-controls {
    max-width: 600px;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4px;
}

.bottombar-audio-controls-player-button {
    width: 32px;
    height: 32px;
    background-color: var(--color-white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.bottombar-audio-controls-player {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.bottombar-audio-controls-player svg {
    margin: 12px;
    fill: var(--color-grey);
}

.bottombar-audio-controls-player svg:hover {
    fill: var(--color-white);
}

.bottombar-audio-controls-player-button svg {
    margin: 0px;
    fill: var(--color-black);
}

.bottombar-audio-controls-player-button:hover {
    margin: 0px;
    fill: var(--color-black);
    transform: scale(1.05);
    margin: 12px;
}

.bottombar-audio-controls-player-button svg:hover {
    fill: var(--color-black);
    transform: scale(1.05);
}

.bottombar-audio-controls-progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-1);
    font-size: 12px;
    color: var(--color-grey);
}

.bottombar-controls-volume {
    display: flex;
    align-items: center;
}

.bottombar-audio-controls .input-bar {
    appearance: none;
    border: 0;
    width: 70%;
    background: linear-gradient(
        to right,
        var(--color-white) 0%,
        var(--color-white) var(--progress-bar-transform),
        hsla(0,0%,100%,.3) var(--progress-bar-transform),
        hsla(0,0%,100%,.3) 100%
    );
    height: 4px;
    border-radius: 10px;
    margin-left: 6px;
    margin-right: 6px;
}

.bottombar-audio-controls .input-bar:hover {
    background: linear-gradient(
        to right,
        var(--color-dark-green) 0%,
        var(--color-dark-green) var(--progress-bar-transform),
        hsla(0,0%,100%,.3) var(--progress-bar-transform),
        hsla(0,0%,100%,.3) 100%
    );
}

.bottombar-audio-controls .input-bar:hover::-webkit-slider-thumb {
    visibility: visible;
}

.bottombar-audio-controls .input-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    visibility: hidden;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: var(--color-white);
    cursor: pointer;
}

/* Image Collapse Button */

.bottombar-song-image-collapse {
    position: absolute;
    top: 8px;
    left: 44px;
    width: 20px;
    height: 20px;
    z-index: 1;
    background-color: var(--color-dark-grey);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottombar-song-image-collapse:hover {
    width: 24px;
    height: 24px;
    top: 6px;
    left: 42px;
}

.bottombar-song-image-collapse svg {
    opacity: 1.0;
    fill: var(--color-grey);
}

.bottombar-song-image-collapse svg:hover {
    fill: var(--color-white);
    height: 18px;
    width: 18px;
}